@model WUFT.NET.ViewModels.Report.ReportLineItemViewModel

<tr class="pull-center Row" data-requestid="@Model.RequestID" data-date="@Model.CreatedOn" data-warehouse="@Model.Warehouse">
    @Html.HiddenFor(x => x.RequestID)
    <td>@Html.CheckBoxFor(x => x.Selected, new { @class = "selectRequest cursor-pointer" })</td>
    <td class="MRBID">@Html.DisplayFor(x => x.MRBID, "StringToInt")</td>
    <td class="Disposition">@Html.DisplayFor(x => x.Disposition)</td>
    <td class="LotID">@Html.DisplayFor(x => x.LotIDs)</td>
    @*<td class="UnmergeLotID">@Html.DisplayFor(x => x.UnmergeLotIDs)</td>*@
    <td class="BoxID">@Html.DisplayFor(x => x.BoxIDs)</td>
    <td class="UnitQty">@Html.DisplayFor(x => x.UnitQty)</td>
    <td class="Warehouse">@Html.DisplayFor(x => x.Warehouse)</td>
    <td class="Requestor">@Html.DisplayFor(x => x.Requestor)</td>
    <td class="RequestDate">@Html.DisplayFor(x => x.CreatedOn, "DateTime")</td>
    <td class="RequestStatus">@Html.DisplayFor(x => x.RequestStatus)</td>
    @*<td class="OriginalMRB">@Html.DisplayFor(x => x.OriginalMRB)</td>*@
</tr>